/* Inline | http://localhost:5173/post/1 */

.post__header {
  width: 40%;
  margin-left: 15%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.post__meta {
  display: flex;
  flex-direction: row;
}

.post__category {
  /* }: ; */
  font: 700 11px/120% "__DrukText_7ca309", "__DrukText_Fallback_7ca309", Arial,
    sans-serif, Arial, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #1a3340;
  border-radius: 0px;
  padding: 1px 0px;
  color: #131313;
}

.post__title {
  display: block;
  font: 700 44px/110% "__DrukText_7ca309", "__DrukText_Fallback_7ca309", Arial,
    sans-serif, Arial, sans-serif;
  letter-spacing: -0.01em;
}

.post__description {
  display: block;
  font: 400 22px/120% "__IBMPlexSans_1445fd", "__IBMPlexSans_Fallback_1445fd",
    Arial, sans-serif, Arial, sans-serif;
  letter-spacing: 0px;
}

.post__author {
  font: 700 12px/120% "__IBM_Plex_Mono_11c30a",
    "__IBM_Plex_Mono_Fallback_11c30a", "Courier New", monospace;
  letter-spacing: 0px;
  text-transform: none;
}

.post__date {
  font: 400 11px/110% "__IBM_Plex_Mono_11c30a",
    "__IBM_Plex_Mono_Fallback_11c30a", "Courier New", monospace;
  text-transform: none;
  letter-spacing: 0px;
}

.post__commentnumber {
  font: 500 11px/100% "__IBM_Plex_Mono_11c30a",
    "__IBM_Plex_Mono_Fallback_11c30a", "Courier New", monospace;
  letter-spacing: 0px;
  text-transform: none;
}

.post__body {
  display: flex;
  margin-left: 15%;
  margin-top: 2vh;
}

.post__image-and-article {
  width: 50%;
}

/* Inline | http://localhost:5173/post/1 */

.active-articles {
  margin-left: 5%;
}

/* Inline | http://localhost:5173/post/1 */

.active-article__date-and-commentnumber {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.active-article__date {
  border: 0 solid;
  color: #131313;
  font: 450 11px/120% "__IBM_Plex_Mono_11c30a",
    "__IBM_Plex_Mono_Fallback_11c30a", "Courier New", monospace;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.active-article__commentnumber {
  box-sizing: border-box;
  border: 0 solid;
  white-space: nowrap;
  color: inherit;
  font: 400 11px/120% "__IBM_Plex_Mono_11c30a",
    "__IBM_Plex_Mono_Fallback_11c30a", "Courier New", monospace;
  text-transform: capitalize;
  letter-spacing: 0px;
}

.post__sidebar-title {
  margin-bottom: 1vh;
}

/* Inline | http://localhost:5173/post/1 */

.active-article__title {
  font: 400 13px/110% "__DrukTextWide_9df7b8", "__DrukTextWide_Fallback_9df7b8",
    Arial, sans-serif, Arial, sans-serif;
  letter-spacing: -0.5px;
  border: 0 solid;
  color: inherit;
  text-decoration: inherit;
  box-shadow: inset 0 -1px 0 0 transparent;
}

.active-articles {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

/* Inline | http://localhost:5173/post/1 */

.post__sidebar {
  margin-left: 5vw;
  width: 21%;
}

.active-article {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

/* Inline | http://localhost:5173/post/1 */

.active-articles {
  margin-left: 3vw;
}

.post__sidebar-title {
  text-transform: uppercase;
}
