* {
  margin: 0;
  padding: 0;
}

:root {
  /* :root {--<variable name>: <variable value>; …}
<property> : var(<variable name>) */

  --large-font: 400 47px/100% Arial;
  --medium-font: 400 28px/100% Arial;
  --small-font: 400 11px/120% "Courier New";

  --deep-red-pink: #b31e3e;
  --white: #ffffff;

  --large-font-color: #131313;
  --medium-font-color: #131313;
  --small-font-color: #131313;

  --feature-story-font: var(--large-font);
  --side-story-font: var(--medium-font);
  --story-description-font: var(--small-font);

  --feature-story-color: var(--large-font-color);
  --side-story-color: var(--medium-font-color);
  --story-description-color: var(--small-font-color);

  --header-color: var(--deep-red-pink);
  --homepage-background-color: var(--white);
}

/* Banner */
.banner-ad {
  height: 30vh;
}

/* Header Wrapper */

/* Left Section */

/* Right Section */
.brand-and-actions {
  display: flex;
  gap: 5vw;
}

/* Navbar */

.homepage__content {
  grid-template-columns: repeat(3, 1fr);
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  gap: 7vh;
  margin-top: 5vh;
}

/* Inline | http://localhost:5173/ */

.feature-story {
  grid-column: span 2;
  position: relative;
}

.feature-story__image {
  width: 100%;
}

.feature-story__description {
}

/* Inline | http://localhost:5173/ */

.feature-story__title {
  font: var(--feature-story-font);
  color: var(--feature-story-color);
}

/* Inline | http://localhost:5173/ */

.feature-story__author {
  font: var(--story-description-font);
  color: var(--story-description-color);
}

.side-story__image {
  width: 100%;
}

.side-story__description {
  font: var(--story-description-font);
  color: var(--side-story-color);
}

.side-story__title {
  font: var(--side-story-font);
  color: var(--side-story-color);
}

.side-story__author {
  font: var(--story-description-font);
  color: var(--story-description-color);
}

/* Inline | http://localhost:5173/ */

.feature-story__description {
  font: var(--story-description-font);
  color: var(--story-description-color);
}

/* Inline | http://localhost:5173/ */

/* Inline | http://localhost:5173/ */

.side-stories {
  display: flex;
  flex-direction: column;
  gap: 7vh;
}

/* Inline | http://localhost:5173/ */

.story-information {
  width: 80%;
  transform: translate(25%, -20%);
  background-color: var(--homepage-background-color);
}

/* Inline | http://localhost:5173/ */
